.title {
  background-color:green;
  color:black;
  font-size:50px;
  width:90%;
  height:100px;
  border-style:solid;
  border-width:5px;
  margin:0;
  padding:0;
  border-radius:15px;
}
.boardGameTitle{
  background-color:blue;
}
#SkamTitle {
  font-size:50px;
  text-decoration:underline;
  position:relative;
}

.PageImage {
  background-color:orange;
}

#boardGameBackground {
  width:90%;
  height:800px;
  background-color:green;
  border-width:5px;
  border-style:solid;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  border-radius:15px;
  position:relative;
}

#boardGOne {
  background-image:url("castleR.jpg");
  background-size:cover;
  background-color:blue;
  width:405px;
  height:400px;
  border-width:10px;
  float:left;
}

#boardGTwo {
  background-image:url('elementalEvil.jpg');
  background-size:cover;
  background-color:purple;
  width:405px;
  height:400px;
  border-width:10px;
  float:left;
}

#boardGThree {
  background-image:url('https://cf.geekdo-images.com/qn3XsQgF7cZuGZqsbZkoKQqLkI4=/fit-in/246x300/pic994268.jpg');
  background-size:cover;
  background-color:green;
  width:405px;
  height:400px;
  border-width:10px;
  float:left;
}

#boardGFour {
  background-image:url('https://cf.geekdo-images.com/wHE2aB_gPDS0fAEIi3GGwWoRl7U=/fit-in/1200x630/pic968280.jpg');
  background-size:cover;
  background-color:blue;
  width:405px;
  height:400px;
  border-width:10px;
  float:left;
}

#boardGFive {
  background-image:url('tomb.png');
  background-size:cover;
  background-color:purple;
  width:405px;
  height:400px;
  border-width:10px;
  float:left;
}

#boardGSix {
  background-image:url('https://cf.geekdo-images.com/iTZcvNfBptXqWcMFkLPwvOjeRxA=/fit-in/1200x630/pic2419375.jpg');
  background-size:cover;
  background-color:green;
  width:405px;
  height:400px;
  border-width:10px;
  float:left;
}

