.title {
  background-color:green;
  color:blue;
  font-size:50px;
  width:90%;
  height:100px;
  border-style:dotted;
  border-width:10px;
  margin:0;
  padding:0;
}
#firstPageImage {
  background-image:url('https://cf.geekdo-images.com/wHE2aB_gPDS0fAEIi3GGwWoRl7U=/fit-in/1200x630/pic968280.jpg');
  background-size:cover;
}